@import '../../common.scss';

.pokemon-detail-modal {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  min-height: 100vh;
  background-color: $pokemon-detail-modal-bg;

  &__content {
    background: $pokemon-detail-modal-content-bg;
    padding: 30px;
    width: 80%;
    margin: 5% auto;
    border-radius: 20px;

    &__footer {
      @include footer-buttons;
    }
  }
}
